*{
    box-sizing: border-box;
    
}



html, body{

    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}


   h1{

    font-size: 3em;  
    margin: 10px;
  }

  .startknap, .regler{
width: 200px;
height: 2em;
background-color: rgb(214, 173, 68);
border: rgb(156, 115, 10) 5px solid;
font-size: 0.5em;
margin: 0.5em;
cursor: pointer;

  }

/*.regler{
    
    font-family: 'Cabin', sans-serif;  
}*/

.btnWrap{
    position: relative;
    
}

  .dropcontent{
    display: none;
    position: absolute;
    top: 78px;
    left: -200px;
    width: 600px;
    height: 600px;
    padding: 20px;
    z-index: 300;
    background-color: #fdeaaa;
    justify-content: space-evenly;
    margin: 30px 20px 0 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }

  .dropcontent p{
      left: 20px;
      align-self: center;
  }

  .btnWrap:hover .dropcontent{
      display: flex;
      flex-direction: column;
      border: 10px solid black;

    
}

  .stick{
      display: none;
      grid-column: 1/48;
      grid-row: 1/24;
      font-family: 'Cabin', sans-serif;

      background-color:goldenrod;
      background: fixed; 
      flex-direction: row;
        justify-content: center;
      align-self: center;
      text-align: center;
      position: absolute;
      font-size: 17em;
      font-weight: bolder;
      z-index: 100;
  }

  .topbox{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 2em;
      
    font-family: 'Cabin', sans-serif;
  }
main{
position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    border: 10px black solid;
    margin: 20px;
    width: 1400px;
    height: 880px;
    background-color: goldenrod;
}

.wrapper{
    position: relative;
    display: grid;
    grid-template-columns: repeat(48, 25px);
    grid-template-rows: repeat(24, 25px);
    margin: 20px;
    width: 1200px;
    height: 600px;
    background-image: url(/img/background4.png);
    background-repeat: no-repeat;
    
        
}

.scoreValue{
    padding: 10px;
    
}

.box{
    
    
cursor: url(img/finger.gif) 64 64, auto;
width: 80px;
height: 80px;
background-image: url(/img/miniSheepOne3.png);



}

.box:hover {
    background-image:url(/img/miniSheepOne4.png);
}

.box2{
    
    
    cursor: url(img/finger.gif) 64 64, auto;
    width: 100px;
    height: 100px;
    background-image: url(/img/miniLady4.png);
    
    
    
    }

.box2:hover{
    
    
    cursor: url(img/finger.gif) 64 64, auto;
    width: 150px;
    height: 150px;
    background-image: url(/img/miniLady5.png);
        
        
        
        }

.counter{
    font-size: xx-large;
    margin: 20px;
}



#boxting1{

grid-column: 3/7;
grid-row: 6/11;

}

#boxting2{
    
    grid-column: 9/11;
    grid-row: 3/4;
    }

#boxting3{


    grid-column: 12/13;
    grid-row: 11/18;
        }

#boxting4{
           
    grid-column: 32/37;
    grid-row: 20/23;
            }

 #boxting5{
                
    grid-column: 28/32;
    grid-row:9/11;
                }

 #boxting6{
                    
     grid-column: 36/41;
    grid-row:16/21;
                    }

 #boxting7{
           
    grid-column: 20/25;
    grid-row: 10/15;
                    }
            
 #boxting8{
                            
     grid-column: 7/9;
    grid-row:20/23;
                    }
            
 #boxting9{
                                
    grid-column: 26/30;
    grid-row:19/24;
                     }

#boxting10{
           
    grid-column: 3/6;
    grid-row:14/17;
                    }
                        
#boxting11{
                                        
    grid-column: 43/46;
    grid-row: 18/21;
                     }
                        
 #boxting12{
                                            
    grid-column: 41/45;
    grid-row:4/9;
                    }









.cover {
    
    z-index: 10;
    width: 150px;
    height: 225px;
    background-image: url(/img/miniTree3.png);
}

.cover2 {
    
    z-index: 10;
    width: 200px;
    height:200px;
    background-image: url(/img/miniLog4.png);
}

.cover3 {
    
    z-index: 10;
    width: 125px;
    height: 100px;
    background-image: url(/img/miniBush1.png);
}





.hide1{ 
    grid-column: 2/7;
    grid-row: 2/11;
    
                    }

               

.hide2{
    
    grid-column: 8/15;
    grid-row: 2/11;
   
                        
                    }

.hide3{                
    grid-column: 11/18;
    grid-row: 10/17;
    
                    }

.hide4{                 
    
    grid-column: 19/26;
    grid-row: 5/15;
    
                    }

.hide5{                 
    
    grid-column: 27/34;
    grid-row:8/10;
    
                    }

 .hide6{
     
    grid-column: 36/43;
    grid-row:10/17;
    
                    }

 .hide7{                 
    
    grid-column: 40/43;
    grid-row: 15/18;
                        }
                    
.hide8{                 
                        
    grid-column: 4/8;
    grid-row:17/19;
                        
                         }
                    
.hide9{
                         
    grid-column: 22/26;
    grid-row:17/23;
                        
                         }

.hide10{                 
    
    grid-column: 32/37;
    grid-row: 20/23;
                                            
                        }
                                        
.hide11{                 
                                            
    grid-column: 3/6;
    grid-row:14/17;
                                            
                         }
                                        
.hide12{
                                             
     grid-column: 40/45;
    grid-row:4/9;
                                            
                        }
